<div class="content">
	<div class="row">
        <h1 class="checkout-h1 checkout-title">SECURE CHECKOUT</h1>

        <div class="signin-join">
         	<a href="" type="button" class="btn-success btn-checkout-signin">Sign In</a>
         	<a href="" type="button" class="btn-success btn-checkout-join">Join</a>
        </div>

        <div class="promotions-container">
	        <div class="promotions folding">
	        	PROMOTIONS <span class="icon"></span>
	        </div>
	        
	        <div class="promotions-section">
	        	<input type="text" class="promotions-input" required placeholder="Promo Code">
	        	<a href="" type="button" class="btn-success promotions-btn">Apply Code</a>
	        	<div class="clearfix"></div>
	        </div>
        </div>

        <div class="shipping-info-wrap">
	        <h1 class="checkout-h1">SHIPPING</h1>

			{{!-- 后端验证的错误写在这里 --}}
			{{!--
	        	{{#if session.errors}}
					<div class="alert alert-danger">
						{{#each session.errors}}
							<p>{{ this.msg }}</p>
						{{/each}}
					</div>
	            {{/if}}
            --}}
            {{!-- 后端验证的错误写在这里，使用connect flash 的方式来显示错误，好处是，显示好以后自动就没了 --}}
            {{#if hasErrors}}
				<div class="alert alert-danger">
					{{#each errorMessages}}
						<p>{{ this }}</p>
					{{/each}}
				</div>
            {{/if}}

			{{!-- <ol class="alert alert-danger hidden errors_log"></ol> --}}

			<div class="errors_container">
				<h4>Error Message:</h4>
				<ol>
					{{!-- 
					<li>
						<label for="first-name" class="error">first name。</label>
					</li>
					<li>
						<label for="last-name" class="error">last name。</label>
					</li>
					<li>
						<label for="address" class="error">address min 3 letter</label>
					</li>
					<li>
						<label for="zip" class="error">zip 5 digit</label>
					</li> 
					--}}					
				</ol>
			</div>
	               


			{{!-- 这段没啥用 --}}
	        {{!-- !Session::has('error') ? 'hidden' : ''  表示  如果在Session里面没有error的话，就加入叫hidden的class,否则就啥都不干 --}}
	        {{!--
		        <div id="charge-error" class="alert alert-danger {{#unless session.errors}}hidden{{/unless}}">
		        	{{#if session.errors}}
	                  <div class="alert alert-danger">
	                    {{#each session.errors}}
	                      <p>{{ this.msg }}</p>
	                    {{/each}}
	                  </div>
	                {{/if}}
		        </div>
	       --}}




	        <form action="/checkout-step-one" method="post" id="checkout-step-one-form">
		        {{!-- 
		        这个表单里面的标签都没有name属性，
		        那是因为我们将不提交这个表单，而是通过js收集里面的数据，然后交给第三方插件stripe去处理，然后会返回给我们一个token,然后我们将这个 token交给laravel来处理
		        --}}
		        {{!-- en:stripe:
		        Do not give names to the payment details form elements! This prevents that data from touching your server, which means you no longer need to worry about redacting logs, encrypting cardholder details, or other burdens of PCI compliance. --}}
		        
	        	<div class="checkout-first-name-group">
					<label for="first-name" class="first-name-label">First Name</label>
					<input type="text" id="first-name"  name="shipping-first-name" class="first-name"  value="{{#if session.order}}{{session.order.shipping_first_name}}{{else}}  {{/if}}" required placeholder="First Name">
				</div>

				<div class="checkout-last-name-group">
					<label for="last-name" class="last-name-label">Last Name</label>
					<input type="text" id="last-name"  name="shipping-last-name" class="last-name"  value="{{#if session.order}}{{session.order.shipping_last_name}}{{else}}  {{/if}}" required placeholder="Last Name">
				</div>
						  			        
	        	<div class="checkout-address-group">
					<label for="address" class="address-label">Address</label>
					<input type="text" id="address"  name="shipping-address" class="address"  value="{{#if session.order}}{{session.order.shipping_address}}{{else}}  {{/if}}" required minlength="5" placeholder="Address">
				</div>

				<div class="checkout-address-line-two-group">
					<label for="address-line-two" class="address-line-two-label">Address Line Two</label>
					<input type="text" id="address-line-two"  name="shipping-address-line-two" class="address-line-two" value="{{#if session.order}}{{session.order.shipping_address_line_two}}{{else}}  {{/if}}" placeholder="Address Line Two">
				</div>

				<div class="checkout-city-group">
					<label for="city" class="city-label">City</label>
					<input type="text" id="city"  name="shipping-city" class="city"  value="{{#if session.order}}{{session.order.shipping_city}}{{else}}  {{/if}}" placeholder="City">
				</div>

				<div class="checkout-state-zip-group">
					<div class="col-xs-4">
						<div class="checkout-state-group">
					        <label for="state" class="state-label">State</label>						       
					        {{!-- <select   id="state" name="shipping-state" class="state">
				                <option></option>
					        	<option value="AL">Alabama</option>
					        	<option value="AK">Alaska</option>
					        	<option value="AZ">Arizona</option>
					        	<option value="AR">Arkansas</option>
					        	<option value="CA">California</option>
					        	<option value="CO">Colorado</option>
					        	<option value="CT">Connecticut</option>
					        	<option value="DE">Delaware</option>
					        	<option value="DC">District Of Columbia</option>
					        	<option value="FL">Florida</option>
					        	<option value="GA">Georgia</option>
					        	<option value="HI">Hawaii</option>
					        	<option value="ID">Idaho</option>
					        	<option value="IL">Illinois</option>
					        	<option value="IN">Indiana</option>
					        	<option value="IA">Iowa</option>
					        	<option value="KS">Kansas</option>
					        	<option value="KY">Kentucky</option>
					        	<option value="LA">Louisiana</option>
					        	<option value="ME">Maine</option>
					        	<option value="MD">Maryland</option>
					        	<option value="MA">Massachusetts</option>
					        	<option value="MI">Michigan</option>
					        	<option value="MN">Minnesota</option>
					        	<option value="MS">Mississippi</option>
					        	<option value="MO">Missouri</option>
					        	<option value="MT">Montana</option>
					        	<option value="NE">Nebraska</option>
					        	<option value="NV">Nevada</option>
					        	<option value="NH">New Hampshire</option>
					        	<option value="NJ">New Jersey</option>
					        	<option value="NM">New Mexico</option>
					        	<option value="NY">New York</option>
					        	<option value="NC">North Carolina</option>
					        	<option value="ND">North Dakota</option>
					        	<option value="OH">Ohio</option>
					        	<option value="OK">Oklahoma</option>
					        	<option value="OR">Oregon</option>
					        	<option value="PA">Pennsylvania</option>
					        	<option value="RI">Rhode Island</option>
					        	<option value="SC">South Carolina</option>
					        	<option value="SD">South Dakota</option>
					        	<option value="TN">Tennessee</option>
					        	<option value="TX">Texas</option>
					        	<option value="UT">Utah</option>
					        	<option value="VT">Vermont</option>
					        	<option value="VA">Virginia</option>
					        	<option value="WA">Washington</option>
					        	<option value="WV">West Virginia</option>
					        	<option value="WI">Wisconsin</option>
					        	<option value="WY">Wyoming</option>
					        </select>				 --}}
					        <select id="state" name="shipping-state" class="state">
					        	<option>{{!-- Exp Month --}}</option>
					        	<option value="AL" {{#ifCond session.order.shipping_state "==" "AL"}} selected {{else}}  {{/ifCond}}>Alabama</option>
					        	<option value="AK" {{#ifCond session.order.shipping_state "==" "AK"}} selected {{else}}  {{/ifCond}}>Alaska</option>
					        	<option value="AZ" {{#ifCond session.order.shipping_state "==" "AZ"}} selected {{else}}  {{/ifCond}}>Arizona</option>
					        	<option value="AR" {{#ifCond session.order.shipping_state "==" "AR"}} selected {{else}}  {{/ifCond}}>Arkansas</option>
					        	<option value="CA" {{#ifCond session.order.shipping_state "==" "CA"}} selected {{else}}  {{/ifCond}}>California</option>
					        	<option value="CO" {{#ifCond session.order.shipping_state "==" "CO"}} selected {{else}}  {{/ifCond}}>Colorado</option>
					        	<option value="CT" {{#ifCond session.order.shipping_state "==" "CT"}} selected {{else}}  {{/ifCond}}>Connecticut</option>
					        	<option value="DE" {{#ifCond session.order.shipping_state "==" "DE"}} selected {{else}}  {{/ifCond}}>Delaware</option>
					        	<option value="DC" {{#ifCond session.order.shipping_state "==" "DC"}} selected {{else}}  {{/ifCond}}>District Of Columbia</option>
					        	<option value="FL" {{#ifCond session.order.shipping_state "==" "FL"}} selected {{else}}  {{/ifCond}}>Florida</option>
					        	<option value="GA" {{#ifCond session.order.shipping_state "==" "GA"}} selected {{else}}  {{/ifCond}}>Georgia</option>
					        	<option value="HI" {{#ifCond session.order.shipping_state "==" "HI"}} selected {{else}}  {{/ifCond}}>Hawaii</option>
					        	<option value="ID" {{#ifCond session.order.shipping_state "==" "ID"}} selected {{else}}  {{/ifCond}}>Idaho</option>
					        	<option value="IL" {{#ifCond session.order.shipping_state "==" "IL"}} selected {{else}}  {{/ifCond}}>Illinois</option>
					        	<option value="IN" {{#ifCond session.order.shipping_state "==" "IN"}} selected {{else}}  {{/ifCond}}>Indiana</option>
					        	<option value="IA" {{#ifCond session.order.shipping_state "==" "IA"}} selected {{else}}  {{/ifCond}}>Iowa</option>
					        	<option value="KS" {{#ifCond session.order.shipping_state "==" "KS"}} selected {{else}}  {{/ifCond}}>Kansas</option>
					        	<option value="KY" {{#ifCond session.order.shipping_state "==" "KY"}} selected {{else}}  {{/ifCond}}>Kentucky</option>
					        	<option value="LA" {{#ifCond session.order.shipping_state "==" "LA"}} selected {{else}}  {{/ifCond}}>Louisiana</option>
					        	<option value="ME" {{#ifCond session.order.shipping_state "==" "ME"}} selected {{else}}  {{/ifCond}}>Maine</option>
					        	<option value="MD" {{#ifCond session.order.shipping_state "==" "MD"}} selected {{else}}  {{/ifCond}}>Maryland</option>
					        	<option value="MA" {{#ifCond session.order.shipping_state "==" "01"}} selected {{else}}  {{/ifCond}}>Massachusetts</option>
					        	<option value="MI" {{#ifCond session.order.shipping_state "==" "MA"}} selected {{else}}  {{/ifCond}}>Michigan</option>
					        	<option value="MN" {{#ifCond session.order.shipping_state "==" "MN"}} selected {{else}}  {{/ifCond}}>Minnesota</option>
					        	<option value="MS" {{#ifCond session.order.shipping_state "==" "MS"}} selected {{else}}  {{/ifCond}}>Mississippi</option>
					        	<option value="MO" {{#ifCond session.order.shipping_state "==" "MO"}} selected {{else}}  {{/ifCond}}>Missouri</option>
					        	<option value="MT" {{#ifCond session.order.shipping_state "==" "MT"}} selected {{else}}  {{/ifCond}}>Montana</option>
					        	<option value="NE" {{#ifCond session.order.shipping_state "==" "NE"}} selected {{else}}  {{/ifCond}}>Nebraska</option>
					        	<option value="NV" {{#ifCond session.order.shipping_state "==" "NV"}} selected {{else}}  {{/ifCond}}>Nevada</option>
					        	<option value="NH" {{#ifCond session.order.shipping_state "==" "NH"}} selected {{else}}  {{/ifCond}}>New Hampshire</option>
					        	<option value="NJ" {{#ifCond session.order.shipping_state "==" "NJ"}} selected {{else}}  {{/ifCond}}>New Jersey</option>
					        	<option value="NM" {{#ifCond session.order.shipping_state "==" "NM"}} selected {{else}}  {{/ifCond}}>New Mexico</option>
					        	<option value="NY" {{#ifCond session.order.shipping_state "==" "NY"}} selected {{else}}  {{/ifCond}}>New York</option>
					        	<option value="NC" {{#ifCond session.order.shipping_state "==" "NC"}} selected {{else}}  {{/ifCond}}>North Carolina</option>
					        	<option value="ND" {{#ifCond session.order.shipping_state "==" "ND"}} selected {{else}}  {{/ifCond}}>North Dakota</option>
					        	<option value="OH" {{#ifCond session.order.shipping_state "==" "OH"}} selected {{else}}  {{/ifCond}}>Ohio</option>
					        	<option value="OK" {{#ifCond session.order.shipping_state "==" "OK"}} selected {{else}}  {{/ifCond}}>Oklahoma</option>
					        	<option value="OR" {{#ifCond session.order.shipping_state "==" "OR"}} selected {{else}}  {{/ifCond}}>Oregon</option>
					        	<option value="PA" {{#ifCond session.order.shipping_state "==" "PA"}} selected {{else}}  {{/ifCond}}>Pennsylvania</option>
					        	<option value="RI" {{#ifCond session.order.shipping_state "==" "RI"}} selected {{else}}  {{/ifCond}}>Rhode Island</option>
					        	<option value="SC" {{#ifCond session.order.shipping_state "==" "SC"}} selected {{else}}  {{/ifCond}}>South Carolina</option>
					        	<option value="SD" {{#ifCond session.order.shipping_state "==" "SD"}} selected {{else}}  {{/ifCond}}>South Dakota</option>
					        	<option value="TN" {{#ifCond session.order.shipping_state "==" "TN"}} selected {{else}}  {{/ifCond}}>Tennessee</option>
					        	<option value="TX" {{#ifCond session.order.shipping_state "==" "TX"}} selected {{else}}  {{/ifCond}}>Texas</option>
					        	<option value="UT" {{#ifCond session.order.shipping_state "==" "UT"}} selected {{else}}  {{/ifCond}}>Utah</option>
					        	<option value="VT" {{#ifCond session.order.shipping_state "==" "VT"}} selected {{else}}  {{/ifCond}}>Vermont</option>
					        	<option value="VA" {{#ifCond session.order.shipping_state "==" "VA"}} selected {{else}}  {{/ifCond}}>Virginia</option>
					        	<option value="WA" {{#ifCond session.order.shipping_state "==" "WA"}} selected {{else}}  {{/ifCond}}>Washington</option>
					        	<option value="WV" {{#ifCond session.order.shipping_state "==" "WV"}} selected {{else}}  {{/ifCond}}>West Virginia</option>
					        	<option value="WI" {{#ifCond session.order.shipping_state "==" "WI"}} selected {{else}}  {{/ifCond}}>Wisconsin</option>
					        	<option value="WY" {{#ifCond session.order.shipping_state "==" "WY"}} selected {{else}}  {{/ifCond}}>Wyoming</option>
					        </select>				
				
					           					            
	        			</div>
					</div>

					<div class="col-xs-8">
						<div class="checkout-zip-group">
							<label for="zip" class="zip-label">Zip</label>
							<input type="text" id="zip"  name="shipping-zip" class="zip"  value="{{#if session.order}}{{session.order.shipping_zip}}{{else}}  {{/if}}" minlength="5" placeholder="Zip">
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
	       			        
	        	
		        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
		        <button type="submit" class="btn btn-success btn-payment-options">NEXT - PAYMENT OPTIONS</button>
		        {{!-- <button type="submit" class="btn btn-success btn-place-order">PLACE ORDER</button> --}}
	    	</form>
	    </div>

    	<div class="order-summary-container">
        	<div class="order-summary folding">ORDER SUMMARY<span class="icon"></span></div>
	        <div class="order-summary-section">		        
	        	<table>
	        		<tbody>
	        			<tr>
	        				<th>Merchandise Total</th>
	        				<td>$&nbsp{{formatCurrency total}}</td>
	        			</tr>
	        			<tr>
	        				<th>Shipping & Handling<br>Standard</th>
	        				<td>$&nbsp5.00</td>
	        			</tr>
	        			<tr>
	        				
	        			</tr>
	        			<tr>
	        				<th class="bold">ORDER TOTAL</th>
	        				<td class="bold">$&nbsp{{formatCurrency total}}</td>
	        			</tr>
	        			<tr>
	        				<th ><a href="">Shipping & Handling</a></th>
	        				<td ></td>
	        			</tr>
	        		</tbody>
	        	</table>			      
	        </div>
        </div>

        <div class="order-details-container">
	        <div class="order-details folding">ORDER DETAILS <span class="icon"></span></div>
	        
	        <div class="order-details-section">
		        <ul>
		        	{{#if session.cart}}

			        	<div class="dropdown-inner">

			        		{{#each productsInCart}}
				        		<li>
				        			{{!-- <dl>
				        				<dt>
				        					<img src="{{$product['item']['imagePath']}}" alt="..." class="img-responsive">
				        				</dt>
				        				<dd class="header-cart-item-title">
				        					{{$product['item']['title']}}
				        				</dd>
				        				<dd class="header-cart-item-qty">
				        					Quality:&nbsp{{$product['qty']}}
				        				</dd>
				        				<dd class="header-cart-item-price">
				        					Price:&nbsp${{$product['price']}}
				        				</dd>
				        			</dl> --}}
				        			<a href="" class="header-cart-item">
				        				<img src="{{this.item.imagePath}}" alt="..." class="img-responsive">
				        				<div class="header-cart-item-info">
					        				<ul class="header-cart-item-details">
					        					<li class="header-cart-item-title">
					        						{{this.item.title}}
					        					</li>
					        					<li class="header-cart-item-qty">
					        						Quality:&nbsp{{this.qty}}
					        					</li>
					        					<li class="header-cart-item-price">
					        						Price:&nbsp${{formatCurrency this.price}}
					        					</li>
					        				</ul>
				        				</div>
				        			</a>
				        		</li>

				        		{{!-- 最后一个不加线 --}}
                                {{#if @last}}
                                                        
                                {{else}}
                                    <li class="divider"></li>
                                {{/if}}

			        		{{/each}}

			        	</div>
		        	{{else}}
		        		<li class="header-bag-empty">Currently empty</li>
		        	{{/if}}		
		   		 </ul>
	        	
	        </div>
        </div>	        	    
	</div>  {{!-- end .row --}}
	<div class="clearfix"></div>
</div> {{!-- end .content --}}
