<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href='/css/shop.shopping-cart.css'/>
</head>

{{# if products }} <!--检查是否有products. products is not null -->
<div class="content">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }} <!--loop through all the products (a group of that product) -->
                    <li class="list-group-item">
                        <span class="badge">{{ this.qty }}</span> 
                            <!--the qty of the single product -->
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">${{ this.price }}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                                <li><a href="/remove/{{this.item._id}}">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong>Total: {{ totalPrice }}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
        </div>
    </div>
    {{ else }}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <h2>No Items in Cart</h2>
            </div>
        </div>
    {{/if}}
</div>

